@import url('https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
}
 
body {
  background-image:
  linear-gradient(to top, transparent 50%, rgb(0, 0, 0)),
  url(/ref-portfolio/galaxy-new.jpg);
  background-position: center center;
  background-size: cover;
  font-family: 'Nova Flat';
  ;
  color: white;
}


/* ========== nav ========== */

body header #cabecalho {
  height: 3rem;
  display: flex;
  justify-content: right;
  margin-right: 5.0rem;
}

.nav {
  display: flex;
  padding-top: 3rem;
  margin-right: 5.0rem;

  color: white;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.4rem;

  text-decoration: none;
}

.nav:hover {
  text-decoration: none;
}

/* ========== menu lateral ========== */
main {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 69rem;
  
}
.menuLateral {
  width: 13rem;
  height: 60rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.linhaVertical {
  height: 20rem;  
  border-left: 0.2rem solid #fff;
  margin-left: 6rem;
  margin-bottom: 2rem;
}

ul {
  margin-left: 4.8rem;
  list-style-type: none;
} 

.social {
  width: 3.0rem;
  height: 4.0rem;
}

.apresentation-text {
  flex-direction: column;
  align-items: center;
  display: flex;
  height: 6.0rem;
  margin-left: 2.0rem;
}

.apresentation-text .textHome {
  font-size: 2.8rem;
}

.apresentation-text .description {
  font-size: 2.8rem;
}

.about {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.about #about-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10rem;
  height: 30rem;
  width: 50rem;
}

.about #hi {
  font-size: 2.8rem;
  padding-bottom: 1rem;
}

.about #apresentation {
  font-size: 1.5rem;
  text-align: justify;
  
}