@import url('https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
}
 
body {
  background-image:
  linear-gradient(to top, transparent 50%, rgb(0, 0, 0)),
  url(/ref-portfolio/galaxy-new.jpg);
  background-position: center center;
  background-size: cover;
  font-family: 'Nova Flat';
  ;
  color: white;
}


/* ========== nav ========== */

body header #cabecalho {
  height: 1rem;
  display: flex;
  justify-content: right;
  margin-right: 5.0rem;
}

.nav {
  display: flex;
  padding-top: 5rem;
  margin-right: 5.0rem;

  color: white;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1rem;

  text-decoration: none;
}

.nav:hover {
  text-decoration: none;

}

/* ========== menu lateral ========== */
main {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60rem;
  
}
.menuLateral {
  width: 13rem;
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.linhaVertical {
  height: 20rem;  
  border-left: 0.1rem solid #fff;
  margin-left: 6rem;
  margin-bottom: 2rem;
}

ul {
  margin-left: 5rem;
  list-style-type: none;
} 

.social {
  width: 3.0rem;
  height: 4.0rem;
}

.apresentation-text {
  flex-direction: column;
  align-items: center;
  display: flex;
  height: 6.0rem;
  margin-left: 2.0rem;
}

.apresentation-text .textHome {
  font-size: 2.8rem;
}

.apresentation-text .description {
  font-size: 1.8rem;
}

.about {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.about #about-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10rem;
  height: 30rem;
  width: 50rem;
}

.about #hi {
  font-size: 2.8rem;
  padding-bottom: 1rem;
}

.about #apresentation {
  font-size: 1.5rem;
  text-align: justify;
  
}


/* =========resposive =============== */

@media screen and (max-width: 780px) {
  body header #cabecalho {
    height: 5rem;
    display: flex;
    justify-content: right;
    margin-right: 1.0rem;
  }

  .nav {
    width: 3rem;
    height: 3rem;
    font-size: 1.1rem;
  }  

  .social {
    display: flex;
    width: 2.0rem;
    height: 4.0rem;
  }
  

  .menuLateral {
    width: 6rem;
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
  }

  .linhaVertical {
    height: 20rem;  
    border-left: 0.1rem solid #fff;
    margin-bottom: 2rem;
    margin-left: 3rem;
  }

  ul {
    margin-left: 2rem;
    list-style-type: none;
  } 

  .apresentation-text {
    flex-direction: column;
    align-items: center;
    display: flex;
    height: 6.0rem;
    margin-left: 2rem;
  }

  .apresentation-text .textHome {
    font-size: 2.0rem;
  }
  
  .apresentation-text .description {
    font-size: 1.3rem;
  }

  .about #about-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10rem;
    height: 30rem;
    width: 30rem;
  }
  
  .about #hi {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }
  
  .about #apresentation {
    font-size: 1.0rem;
    text-align: justify;   
  }
}

@media screen and (max-width: 500px) {
  body header #cabecalho {
    display: none;

  }

  .nav {
    width: 3rem;
    height: 3rem;
    font-size: 1.1rem;
  }
  
  

  .social {
    display: flex;
    width: 2.0rem;
    height: 4.0rem;
  }
  

  .menuLateral {
    width: 6rem;
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
  }

  .linhaVertical {
    height: 20rem;  
    border-left: 0.1rem solid #fff;
    margin-bottom: 2rem;
    margin-left: 2.5rem;
  }

  ul {
    margin-left: 2rem;
    list-style-type: none;
  } 

  svg {
    max-width: 3rem;
  }

  .apresentation-text {
    flex-direction: column;
    align-items: center;
    display: flex;
    height: 6.0rem;
    margin-left: 2rem;
  }

  .apresentation-text .textHome {
    font-size: 1.5rem;
  }

  .apresentation-text .description {
    font-size: 1.1rem;
  } 
  
  .about {
    display: flex;
    justify-content: center;
  }

  #about-text #hi {
    font-size: 1rem;
    display: flex;
    text-align: center;
  }

  #about-text #apresentation {
    width: 15rem;
    font-size: 0.8rem;
  }
}